.page1 {    
    background-color: rgb(243, 156, 167);
    height: 100vh;
    overflow: hidden;
}
.page2 {
    background-color: #FFFF77;
    height: 100vh;
    overflow: hidden;
}
.page3 {
    background-color: rgb(158, 212, 230);
    height: 100vh;
    overflow: hidden;
}
.page_contant {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
}