
.box-a {
    background-color: rgb(158, 212, 230);
    height: 600px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 5px 10px #666666;
    margin: 0 10px;
}
.me {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px grey;
}
img:hover {
    opacity: 0.5;
    transition: 0.7s ease-in-out;
}
.ah2 {
    font-family: coldsmith-pro, sans-serif;
    font-size: 50px;
    text-align: center;
    color: black;
    margin-top: 40px;
    margin-bottom: 20px;
}
.hr2 {
    width: 200px;
    border-top: solid 5px;
    border-color: black;
    margin-top: unset;
    margin-bottom: unset;
}
.ah3 {
    font-family: coldsmith-pro, sans-serif;
    font-size: 30px;
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 40px;
}
.hr1 {
    width: 250px;
    border-top: solid 5px;
    border-color: black;
}
#history {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.history_container_area {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.history_title {
    font-family: coldsmith-pro, sans-serif;
    font-size: 70px;
}
.history_cont {
    font-family: volina, sans-serif;
    font-size: 17px;
    line-height: 40px;
}
.history_back {
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -50%;
    right: 10%;
    background-image: linear-gradient(-45deg, #4481eb , #04befe);
    border-radius: 50%;
    z-index: -1;
    transition: 1.8s ease-in-out;
}
@media screen and (min-width: 1024px) {
    .history_container_area {
        height: 500px;
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .history_title {
        font-family: coldsmith-pro, sans-serif;
        font-size: 80px;
    }
    .history_cont {
        font-family: volina, sans-serif;
        font-size: 17px;
        line-height: 40px;
    }
    .history_back {
        position: absolute;
        height: 2000px;
        width: 2000px;
        top: 25%;
        right: 48%;
        background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
        border-radius: 50%;
        z-index: -1;
    }
}
.aboutme {
    background-color: #FFFF77;
    height: 500px;
    box-shadow: 0 5px 10px #666666;
    border-radius: 20px;
    margin: 0 10px;
}
.aboutme_title {
    font-family: coldsmith-pro, sans-serif;
    font-size: 70px;
    text-align: center;
    color: black;
    margin: 10px 0;
}
@media screen and (min-width: 1024px) {
    .aboutme_title {
        font-family: coldsmith-pro, sans-serif;
        font-size: 80px;
        text-align: center;
        color: black;
        margin: 10px 0;
    }
}
.aboutme_contact {
    font-size: 16px;
    text-align: center;
    color: black;
    line-height: 40px;
}

.aboutme_jpg {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.aboutme_jpg_box {
    height: auto;
    width: 100%;
    z-index: 1
}